
body {
  margin: 20px;
  background-color:#F2F3EB;
}

#initially-hidden {
  display: none;
}

.float {
  float: right;
  width: 85%;
  display: inline-block;
}

.sidebar {
  margin-top: 150px;
  float: left;
  width: 15%;
  display: inline-block;
  height: 100%;
  position: relative;
}

p{
  font-weight: bold;
}

h1 {
  color: #88D0AF;
  text-align: center;
  font-family: fantasy;
}

label {
  font-family: fantasy;
}

li {
  list-style: none;
}

.clickable {
  color: #0088cc;
  cursor: pointer;
  float: right;
}

.clickable:hover {
  text-decoration: underline;
}

.scoreClicker{
  text-align: center;
}

.navrow {
  height: 50px;
  padding-left: 30px;
}

.panel {
  margin-bottom: 20px;
  background-color: #F1F6EF;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-body {
  padding-top: 2px;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  background-color: #D9E6DC;

}
